@model Domaine.Question

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}

<div class="container">
    <br />
    &nbsp;
    &nbsp;
    <h2>Details</h2>
    &nbsp;
    <br />
    <br />
    <br />
    <div>
        <h4>Question</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("La Question : ")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Content)
            </dd>

        </dl>
    </div>
    <p>
        <a class="btn ticker-btn"  @Html.ActionLink("Back to List", "Index")></a>
        @Html.ActionLink("Edit", "Edit", new { id = Model.QuestionID }) |
        <a class="btn ticker-btn"  @Html.ActionLink("Back to List", "Index")></a>
       
    </p>
    <br />
    <br />
    <br />
    <br />
</div>