@model Domaine.Candidature

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}
<div class="container">
    <br />

    &nbsp;
    &nbsp;
    <h2>Details</h2>
    <br />
    <div>
        <h4>Candidature</h4>
        <hr />
        <dl class="dl-horizontal">


            <dt>
                @Html.DisplayName("Date Depôt")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.candidatureDate)
            </dd>

            <dt>
                @Html.DisplayName("Etat")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.etat)
            </dd>

        </dl>
    </div>
    <p>

        <a class="btn ticker-btn" @Html.ActionLink("Back to List", "CandidatCandidatures")></a>


    </p>
    <br />
    <br />
    <br />
    <br />
    <br />
</div>