@model IEnumerable<Domaine.Candidature>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutCustom.cshtml";
}


<div class="container">
    <br />

    &nbsp;
    &nbsp;
    <h2>Les Candidatures </h2>
    &nbsp;
    <br />
    <br />
    <br />
    <table class="table">
        <tr>

            <th>
                @Html.DisplayName("Date Depôt")
            </th>
            <th>
                @Html.DisplayName("Etat")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.candidatureDate, "Date depot")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.etat, "Etat")
                </td>
                <td>

                    &nbsp;
                    <a class="btn ticker-btn" @Html.ActionLink("Edit", "EditRH", new { id = item.candidatureId })></a>
                    &nbsp;
                    <a class="btn ticker-btn" @Html.ActionLink("Details", "DetailsRH", new { id = item.candidatureId })></a>
                    &nbsp;
                </td>
            </tr>
        }

    </table>

    <br />
    <br />
    <br />
    <br />
    <br />
</div>
